bin/i386-linux/*
!bin/i386-linux/EDITOR
!bin/i386-linux/USURPER
bin/i386-win32/*
!bin/i386-win32/EDITOR.exe
!bin/i386-win32/USURPER.exe
bin/x86_64-linux/*
!bin/x86_64-linux/EDITOR
!bin/x86_64-linux/USURPER
bin/x86_64-win64/*
obj/